.btn-duplicate {
  display: inline-block;
  width: 120px;
  height: 44px;
  vertical-align: middle;
  text-align: left;
}
.btn-duplicate i.icon.fa.fa-clone {
  margin-right: 10px;
}
.input-duplicate {
  display: none;
  height: 30px;
  width: calc(100% - 126px);
  vertical-align: middle;
}
.input-duplicate.active {
  display: inline-block;
}

.message-duplicate {
  width: 100%;
  height: 40px;
  padding: 4px 0;
  display: none;
  line-height: 32px;
}
.message-duplicate.success {
  color: #8dae28;
}
.message-duplicate.error {
  color: #b3000a;
}
.message-duplicate i.icon.fa.fa-close {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
